/*
  ##Device = Desktops
  ##Screen = 1281px/89vw to higher resolution desktops
*/

@media (min-width: 1281px) {
  body { background-color: red; }

  .signup p { display: none; }
}



/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  body { display: flex; flex-direction: column; justify-content: center; margin: 1.5em 60px 0 60px; }

  .signup p { display: none; }

  .section-two {white-space: nowrap; }

  .arteric-phones { float: right; }

  /* ----- */

  .section-three-text-boxes, .section-four-text-boxes { float: left; width: 55%; }
}





/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
 body { display: flex; flex-direction: column; justify-content: center; margin: 1.5em 60px 0 60px; }

  .logo { margin-left: 35%; padding-bottom: 1.75em;  }

  .signup { background-color: white; color: black; border: 0.126em solid #acacac; border-radius: 0.5em; margin-bottom: 1em; padding: 0.5em; text-align: center; }

  .btn-download { margin: 0.5em 0 0.5em 4.8em; padding: 0.25em; }

  /* .table td { text-align: left; width: 100%; } */

  /* ----- */

  .section-three-text-boxes h1 {
    font-size: 2em;
  }

  .section-three-text-boxes p {
    font-size: 1.15em;
  }

  /* ----- */

  .section-four-text-boxes {
    margin-bottom: -1em;
  }

  .section-four-text-boxes h1 {
    font-size: 2.5em;
  }

  /* ----- */

  .v1, .v2 { font-size: 1.2em; height: 2em; width: 9em; }


}
