/*
  ##Device = Desktops
  ##Screen = 1281px/89vw to higher resolution desktops
*/

@media (min-width: 1281px) {
  body { background-color: red; }

  .signup p { display: none; }
}



/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  body { background-color: orange; }

  .signup p { display: none; }
}





/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
 body { background-color: blue; display: flex; flex-direction: column; justify-content: center; margin: 2em; }

  .logo { padding-bottom: 1.75em; vertical-align: middle; }

  .signup { background-color: white; color: black; border-radius: 2em; padding: 0.5em; text-align: center; }

  .btn-download {   margin: 0.5em 0 0.5em 6.5em; padding: 0.25em; }

  /* ----- */




}
